<h1>WasteNot?</h1>
<p>Reduce Cost – Reduce Waste – Increase Karma</p>
<p>Our free service directly connects companies to charitable causes to allow either one off or regular distribution of excess stock.
</p>
