//.bricks { margin: 0 auto; }

.brick__item {
  background-color: #fff;
  border: 1px solid #dadada;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

//.bricks .brick__item { opacity: 0; }

.brick__item.shown,
.no-js .brick__item,
.no-cssanimations .brick__item {
  opacity: 1;
}

/* Effect 1: opacity */
.bricks.effect-1 .brick__item.animate {
  @include animation(fadeIn 0.65s ease forwards);
}

@-webkit-keyframes fadeIn {
  to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* Effect 2: Move Up */
.bricks.effect-2 .brick__item.animate {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
  @include animation(moveUp 0.65s ease forwards);
}

@-webkit-keyframes moveUp {
  to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
  to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  to { transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.bricks.effect-3 .brick__item.animate {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  @include animation(scaleUp 0.65s ease-in-out forwards);
}

@-webkit-keyframes scaleUp {
  to { -webkit-transform: scale(1); opacity: 1; }
}

@-moz-keyframes scaleUp {
  to { -moz-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
  to { transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.bricks.effect-4 {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.bricks.effect-4 .brick__item.animate {
  @include transform-style(preserve-3d);
  -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  -moz-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  @include animation(fallPerspective .8s ease-in-out forwards);
}

@-webkit-keyframes fallPerspective {
  100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@-moz-keyframes fallPerspective {
  100% { -moz-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
  100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.bricks.effect-5 {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.bricks.effect-5 .brick__item.animate {
  @include transform-style(preserve-3d);
  @include transform-origin(50% 50% -300px);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  @include animation(fly .8s ease-in-out forwards);
}

@-webkit-keyframes fly {
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes fly {
  100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
  100% { transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.bricks.effect-6 {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.bricks.effect-6 .brick__item.animate {
  @include transform-style(preserve-3d);
  @include transform-origin(0% 0%);
  -webkit-transform: rotateX(-80deg);
  -moz-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
  @include animation(flip .8s ease-in-out forwards);
}

@-webkit-keyframes flip {
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes flip {
  100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
  100% { transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.bricks.effect-7 {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.bricks.effect-7 .brick__item.animate {
  @include transform-style(preserve-3d);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  @include animation(helix .8s ease-in-out forwards);
}

@-webkit-keyframes helix {
  100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@-moz-keyframes helix {
  100% { -moz-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
  100% { transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.bricks.effect-8 {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

.bricks.effect-8 .brick__item.animate {
  @include transform-style(preserve-3d);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  @include animation(popUp .8s ease-in forwards);
}

@-webkit-keyframes popUp {
  70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@-moz-keyframes popUp {
  70% { -moz-transform: scale(1.1); opacity: .8; -moz-animation-timing-function: ease-out; }
  100% { -moz-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
  70% { transform: scale(1.1); opacity: .8; animation-timing-function: ease-out; }
  100% { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 900px) {
  .bricks .brick__item {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .bricks .brick__item {
    width: 100%;
  }
}
